/app/src/main/assets/apps/__UNI__B9B8203/www/
/.idea/workspace.xml
/.idea
workspace.xml
.idea
/.gradle
/local.properties
/app/build/intermediates/
/app/build/generated/
/app/build/tmp/
/app/build/outputs/logs/
/app/build/generated/
/app/build/outputs/logs/
